body {
    /* background-color: black !important; */
    margin: 0;
    font-family: Albert Sans, sans-serif;
}

:root {
    --weight-L: 300;
    --weight-R: 400;
    --weight-LM: 500;
    --weight-M: 600;
    --weight-B: 700;

    --font-sec-heading: 16px;
}
.fs-10{
    font-size: 10px;
}
.fs-12 {
    font-size: 12px;
}
.fs-14{
    font-size: 14px !important;
}

.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}

.fw-600{
    font-weight: 600;
}
.h-60 {
    height: 60px;
}

.pointer {
    cursor: pointer;
}

.gap-25 {
    gap: 25px;
}



.contact-heading {
    font-weight: var(--weight-M);
}

.resume-subtext{
    font-weight: 600;
}

.white-resume-container{
    		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);

}

.error{
    color: red;
}